{% extends 'front_base.html.twig' %}

{% block body %}
    <h1 class="text-3xl w-screen px-48 pt-4"><span class="font-bold">Panier</span> - {{ app.user.cart.products|length }} produit(s)</h1>

    <div class="flex flex-col w-screen px-24 py-8">
        {% for item in cart.products %}
            <div class="flex justify-between items-center bg-stone-100 px-24 py-4 rounded-md mb-4">
                <div>
                    <img class="h-20 object-cover w-full overflow-hidden rounded-lg" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.title }}">
                </div>
                <div class="pt-2 font-bold">{{ item.title }}</div>
                <div class="text-left"><span class="text-gray-500 flex-auto">Price : </span>{{ item.price }} $</div>
                <div>{{ include('front/cart/_delete_form.html.twig') }}</div>
            </div>

            <a href="{{ path('front_app_cart_fake') }}">Fake order</a>
        {% else %}
            <div>
                <span>Aucun produit</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}