{% extends 'front_base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div x-data="{ open: false }" class="bg-white">
	<!-- Top navigation -->
	{{ include('front/partials/_header.html.twig') }}

    <section class="h-screen flex">
		<aside class="w-1/2 bg-main-blue flex-1 items-center justify-center flex">
			<div class="px-4">
				<h3 class="font-bungee-inline lg:text-5xl md:text-4xl text-2xl">Faire vivre  les Images, Est notre mot d’ordre</h3>
			</div>
		</aside>
			<div class="absolute h-full md:left-0 md:right-0 md:w-48 md:m-auto flex md:items-center right-0 items-start w-24">
				<img src="{{ asset('assets/icons_arts_verticals.png') }}" class="object-cover"/>
			</div>
		<aside class="w-1/2 flex-1 hidden md:block">
			<img class="min-h-full object-cover" src="{{ asset('assets/joconde.png') }}" />
		</aside>
    </section>

    <section class="flex flex-col items-center p-8">
        <h3 class="font-bungee-inline lg:text-5xl md:text-4xl text-2xl">New Publications</h3>
        <div class="mt-8 max-w-[850px] xs	w-full grid grid-cols-1 gap-x-6 gap-y-7 place-items-center md:grid-cols-2">
            <div class="bg-main-blue w-96 h-44  p-3 rounded-[12px] border flex justify-between">
                <div class="flex-auto w-32 items-stretch flex flex-col justify-between">
                    <div>
                        <h4 class="font-bungee-shade md:text-2xl">Kermit the frog</h4>
                        <p class="font-lato">12€</p>
                    </div>
                    <span class="text-main-grey font-lato">By. Poulet R</span>
                </div>
                <img class="flex-auto w-36" src="{{ asset('assets/kermit.png') }}" />
            </div>
            <div class="bg-main-blue w-96 h-44  p-3 rounded-[12px] border flex justify-between">
                <div class="flex-auto w-32 items-stretch flex flex-col justify-between">
                    <div>
                        <h4 class="font-bungee-shade md:text-2xl">Kermit the frog</h4>
                        <p class="font-lato">12€</p>
                    </div>
                    <span class="text-main-grey font-lato">By. Poulet R</span>
                </div>
                <img class="flex-auto w-36" src="{{ asset('assets/kermit.png') }}" />
            </div>
            <div class="bg-main-blue w-96 h-44 relative  p-3 rounded-[12px] border flex justify-between">
                <div class="flex-auto w-32 items-stretch flex flex-col justify-between">
                    <div>
                        <h4 class="font-bungee-shade md:text-2xl">Kermit the frog</h4>
                        <p class="font-lato">12€</p>
                    </div>
                    <span class="text-main-grey font-lato">By. Poulet R</span>
                </div>
                <img class="flex-auto w-36" src="{{ asset('assets/kermit.png') }}" />
                <img class="max-h-full h-16 absolute -bottom-6 object-cover -z-10 -left-10" src="{{ asset('assets/cat_art.png') }}" />
            </div>
        </div>
    </section>
    <section class="flex flex-col items-center p-8">
        <aside class="flex gap-12 flex-wrap justify-center md:justify-around">
            <article class="bg-main-blue w-96 flex items-end justify-center rounded-lg">
                <img class="h-4/5	 -bottom-2 relative" src="{{ asset('assets/mr_eggs_art.png') }}" />
            </article>
            <article class="w-96 flex flex-col items-end justify-end rounded-lg p-5">
                <div>
                    <h4 class="font-bungee-inline md:text-2xl">Faire vivre  les Images, Est notre mot d’ordre</h4>
                    <h5 class="font-bungee-shade md:text-2xl my-5">MR. Eggman</h5>
                    <p class="text-main-grey font-lato">Docteur Eggman (ou anciennement appelé Docteur "Ivo" Robotnik) est est le principal antagoniste de la série originale de jeux vidéo Sonic the Hedgehog et ennemi juré du protagoniste éponyme : Sonic the Hedgehog.·</p>
                </div>
            </article>
        </aside>
        <aside class="flex gap-8 mt-6 flex-wrap-reverse justify-center md:justify-around">
            <article class="w-96 flex flex-col items-end justify-end rounded-lg p-5">
                <div>
                    <h4 class="font-bungee-inline md:text-2xl">Kyle, le Héros aux gros-mots.</h4>
                    <h5 class="font-bungee-shade md:text-2xl my-5">Kyle FRom south park</h5>
                    <p class="text-main-grey font-lato">Kyle Broflovski est un des personnages principaux de la série télévisée d'animation South Park. Il est interprété par Matt Stone dans la version originale et par William Coryn dans la version française. Kyle est un des quatre personnages principaux de South Park, avec Stan Marsh, Eric Cartman et Kenny McCormick.</p>
                </div>
            </article>
            <article class="bg-main-blue w-96 flex items-end justify-center rounded-lg">
                <img class="h-4/5 -bottom-10 relative" src="{{ asset('assets/kyle_art.png') }}" />
            </article>
        </aside>
    </section>
</div>
{% endblock %}

