{% extends 'front_base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<main>
    <section class="h-screen flex">
      <aside class="w-1/2 bg-main-blue flex-1 items-center justify-center flex">
          <div class="px-4">
                <h3 class="font-bungee-inline lg:text-5xl md:text-4xl text-2xl">Faire vivre  les Images, Est notre mot d’ordre</h3>
          </div>
      </aside>
        <div class="absolute h-full md:left-0 md:right-0 md:w-48 md:m-auto flex md:items-center right-0 items-start w-24">
            <img src="{{ asset('assets/icons_arts_verticals.png') }}" class="object-cover"/>
        </div>
      <aside class=" flex-1 hidden md:block">
        <img class="min-h-full  w-full max-h-full max-w-full object-cover" src="{{ asset('assets/joconde.png') }}" />
      </aside>
    </section>
    <section class="flex flex-col items-center p-8 overflow-hidden">
        <div class="flex flex-col xl:max-w-[850px] w-full">
            <h3 class="font-bungee-inline lg:text-5xl md:text-4xl text-2xl">Creatives ideas</h3>
            <a href="#" class="group font-bungee-shade md:text-2xl hover:font-bold">videos games <i class="fa-solid transition-all mt-3 fa-chevron-right group-hover:translate-x-6"></i></a>
            <a href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75 md:text-lg text-sm">Vous avez une idée de jeux-vidéos ?</a>

            <div class="mt-5 pt-3 flex justify-start md:mr-[calc(50%-50vw)] md:pr-8 md:w-[calc(50vw+49%)] gap-x-3 pr-0 overflow-x-scroll scrollbar-hide">
                <a href="#" class="group">
                    <article class="min-w-[262px] transition-all group-hover:-translate-y-2">
                        <div class="relative">
                            <span class="rounded-md absolute right-2 top-2 bg-silver px-2 py-0.5 text-xs font-lato">Popular 🔥</span>
                            <img src="{{ asset('assets/joconde.png') }}" />
                        </div>
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article>
                </a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
            </div>
            <br  />
            <a href="#" class="group font-bungee-shade md:text-2xl hover:font-bold">Web sites Illustration <i class="fa-solid transition-all mt-3 fa-chevron-right group-hover:translate-x-6"></i></a>
            <a href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75 md:text-lg text-sm">Besoin d’inspirations? décorez votre site avec cette collection.</a>
            <div class="mt-5 pt-3 flex justify-start md:mr-[calc(50%-50vw)] md:pr-8 md:w-[calc(50vw+49%)] gap-x-3 pr-0 overflow-x-scroll scrollbar-hide">
                <a href="#" class="group"><article class="min-w-[262px] transition-all group-hover:-translate-y-2">
                        <div class="relative">
                            <span class="rounded-md absolute right-2 top-2 bg-silver px-2 py-0.5 text-xs font-lato">Popular 🔥</span>
                            <img src="{{ asset('assets/joconde.png') }}" />
                        </div>
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
                <a href="#" class="group"><article class="min-w-[262px] transition group-hover:-translate-y-2">
                        <img src="{{ asset('assets/joconde.png') }}" />
                        <div class="flex flex-col w-max">
                            <p href="#" class="font-lato font-extrabold transition-opacity">NFT cyberpunks 2077</p>
                            <span href="#" class="font-lato text-main-blue-dark transition-opacity hover:opacity-75">200 €</span>
                        </div>
                    </article></a>
            </div>
        </div>
    </section>
    <section class="flex flex-col items-center p-8">
        <div class="w-full xl:max-w-[850px] max-w-full flex flex-col items-center md:block">
            <h3 class="font-bungee-inline lg:text-5xl md:text-4xl text-2xl">New Publications</h3>
            <span href="#" class="font-lato text-main-blue-dark transition-opacity md:text-lg text-sm">Nos créateurs ont de quoi vous faire rêvés.</span>
            <div class="mt-8 max-w-[850px] xs w-full grid grid-cols-1 gap-x-6 gap-y-7 md:grid-cols-2 md:place-items-start place-items-center">

                {% for product in five_last_products %}
                    <a href="{{ path('front_app_product_show', {id:product.id}) }}" class="hover:opacity-75 hover:-translate-y-2 transition-all">
                        <article class="bg-main-blue w-96 h-44 flex p-3 rounded-[12px] border flex justify-between">
                            <div class="flex-auto w-32 items-stretch flex flex-col justify-between">
                                <div>
                                    <h4 class="font-bungee-shade md:text-2xl">{{ product.title }}</h4>
                                    <p class="font-lato">{{ product.price }} €</p>
                                </div>
                                <span class="text-main-grey font-lato">{{ product.creator.email }}</span>
                            </div>

                            <img class="flex-auto max-w-[9rem] object-cover" src="{{ vich_uploader_asset(product, 'imageFile') }}" />
                        </article>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="flex flex-col items-center p-8">
        <aside class="flex gap-12 flex-wrap justify-center md:justify-around">
            <article class="bg-main-blue w-96 flex items-end justify-center rounded-lg">
                <img class="h-4/5	 -bottom-2 relative" src="{{ asset('assets/mr_eggs_art.png') }}" />
            </article>
            <article class="w-96 flex flex-col items-end justify-end rounded-lg p-5">
                <div>
                    <h4 class="font-bungee-inline md:text-2xl">Faire vivre  les Images, Est notre mot d’ordre</h4>
                    <h5 class="font-bungee-shade md:text-2xl my-5">MR. Eggman</h5>
                    <p class="text-main-grey font-lato">Docteur Eggman (ou anciennement appelé Docteur "Ivo" Robotnik) est est le principal antagoniste de la série originale de jeux vidéo Sonic the Hedgehog et ennemi juré du protagoniste éponyme : Sonic the Hedgehog.·</p>
                </div>
            </article>
        </aside>
        <aside class="flex gap-8 mt-6 flex-wrap-reverse justify-center md:justify-around">
            <article class="w-96 flex flex-col items-end justify-end rounded-lg p-5">
                <div>
                    <h4 class="font-bungee-inline md:text-2xl">Kyle, le Héros aux gros-mots.</h4>
                    <h5 class="font-bungee-shade md:text-2xl my-5">Kyle FRom south park</h5>
                    <p class="text-main-grey font-lato">Kyle Broflovski est un des personnages principaux de la série télévisée d'animation South Park. Il est interprété par Matt Stone dans la version originale et par William Coryn dans la version française. Kyle est un des quatre personnages principaux de South Park, avec Stan Marsh, Eric Cartman et Kenny McCormick.</p>
                </div>
            </article>
            <article class="bg-main-blue w-96 flex items-end justify-center rounded-lg">
                <img class="h-4/5 -bottom-10 relative" src="{{ asset('assets/kyle_art.png') }}" />
            </article>
        </aside>
    </section>
</main>
{% endblock %}

