
{% extends 'back_base.html.twig' %}

{% block title %}Order Details{% endblock %}

{% block body %}
<div class="bg-gray-50">
    <div class="mx-auto max-w-2xl pt-16 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="space-y-2 px-4 sm:flex sm:items-baseline sm:justify-between sm:space-y-0 sm:px-0">
        <div class="flex sm:items-baseline sm:space-x-4">
          <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Order #{{order.id}}</h1>
          <a href="#" class="hidden text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:block">
            View invoice
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
        <h4 class=" text-sm font-medium text-gray-500">REF: {{order.reference}}</h4>
       
        <p class="text-sm text-gray-600">Order placed <time datetime="2021-03-22" class="font-medium text-gray-900">{{order.createdAt|date("l d F - H:i")}}</time></p>
        <a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:hidden">
          View invoice
          <span aria-hidden="true"> &rarr;</span>
        </a>
      </div>
     
  
      <!-- Products -->
      {% for oderDetail in order.orderDetails %}
      <div class="mt-6">
        <h2 class="sr-only">Products purchased</h2>
        <div class="space-y-8">
          <div class="border-t border-b border-gray-200 bg-white shadow-sm sm:rounded-lg sm:border">
            <div class="py-6 px-4 sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:p-8">
              <div class="sm:flex lg:col-span-7">
                <div class="aspect-w-1 aspect-h-1 w-full flex-shrink-0 overflow-hidden rounded-lg sm:aspect-none sm:h-40 sm:w-40">
                  <img src="{{ vich_uploader_asset(oderDetail.productId, 'imageFile') }}" alt="Insulated bottle with white base and black snap lid." class="h-full w-full object-cover object-center sm:h-full sm:w-full">
                </div>
  
                <div class="mt-6 sm:mt-0 sm:ml-6">
                  <h3 class="text-base font-medium text-gray-900">
                    <a href="#">{{oderDetail.productId.title}}</a>
                  </h3>
                  <p class="mt-2 text-sm font-medium text-gray-900">{{oderDetail.Price}}€</p>
                  <p class="mt-3 text-sm text-gray-500">{{oderDetail.productId.description}}</p>
                </div>
              </div>
  
              <div class="mt-6 lg:col-span-5 lg:mt-0">
                <dl class="grid grid-cols-2 gap-x-6 text-sm">
                  <div>
                    <dt class="font-medium text-gray-900">Delivery address</dt>
                    <dd class="mt-3 text-gray-500">
                      <span class="block">{{ order.Owner.email }}</span>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium text-gray-900">Shipping updates</dt>
                    <dd class="mt-3 space-y-3 text-gray-500">
                      <p>{{ order.Owner.email }}</p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            </div>
           </div>
          <!-- More products... -->
          {% endfor %}
        </div>
      <!--Order History-->
      <div class="mt-6">
        <h2 class="sr-only">Order Histoires</h2>
        <div class="space-y-8">
        <div class="border-t border-gray-200 shadow-sm sm:rounded-lg sm:border py-6 px-4 sm:px-6 lg:p-8">
            <p class="text-md font-medium text-gray-900">Order state </p>
            {% for orderDetail in order.orderHistories|sort %}
            <div class="mt-6" aria-hidden="true">
            <div class="mt-6 hidden grid-cols-4 text-sm font-medium text-gray-600 sm:grid">
                {% if orderDetail.id == 1 %}
                    {% set color = "bg-green-500" %}
                {% elseif orderDetail.id == 2 %}
                    {% set color = "bg-orange-300" %}
                {% elseif orderDetail.id == 3 %}
                    {% set color = "bg-yellow-500" %}
                {% elseif orderDetail.id == 4 %}
                    {% set color = "bg-red-500" %}
                {% endif %}
                <div class="{{color}} text-center">{{orderDetail.state.state}}</div>
                <div class="ml-8 text-gray-500">{{orderDetail.timestamp|date("l d F - H:i")}}</div>
                {% if orderDetail.id == 3 %}
                    <a href="{{ path('admin_app_order_refund', {'id': order.id}) }}" class="ml-8 text-indigo-600 hover:text-indigo-500">Refund the order</a>
                {% endif %}
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
      </div>
        
      <!-- Billing -->
      <div class="mt-16">
        <h2 class="sr-only">Billing Summary</h2>
  
        <div class="bg-gray-100 py-6 px-4 sm:rounded-lg sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8 lg:py-8">
          <dl class="grid grid-cols-2 gap-6 text-sm sm:grid-cols-2 md:gap-x-8 lg:col-span-7">
            <div>
              <dt class="font-medium text-gray-900">Billing address</dt>
              <dd class="mt-3 text-gray-500">
                <span class="block">{{ order.Owner.email }}</span>
              </dd>
            </div>
            <div>
              <dt class="font-medium text-gray-900">Payment information</dt>
              <dd class="-ml-4 -mt-1 flex flex-wrap">
                <div class="ml-4 mt-4 flex-shrink-0">
                  {% if order.brandStripe == "visa" %}
                  <svg aria-hidden="true" width="36" height="24" viewBox="0 0 36 24" class="h-6 w-auto">
                    <rect width="36" height="24" rx="4" fill="#224DBA" />
                    <path d="M10.925 15.673H8.874l-1.538-6c-.073-.276-.228-.52-.456-.635A6.575 6.575 0 005 8.403v-.231h3.304c.456 0 .798.347.855.75l.798 4.328 2.05-5.078h1.994l-3.076 7.5zm4.216 0h-1.937L14.8 8.172h1.937l-1.595 7.5zm4.101-5.422c.057-.404.399-.635.798-.635a3.54 3.54 0 011.88.346l.342-1.615A4.808 4.808 0 0020.496 8c-1.88 0-3.248 1.039-3.248 2.481 0 1.097.969 1.673 1.653 2.02.74.346 1.025.577.968.923 0 .519-.57.75-1.139.75a4.795 4.795 0 01-1.994-.462l-.342 1.616a5.48 5.48 0 002.108.404c2.108.057 3.418-.981 3.418-2.539 0-1.962-2.678-2.077-2.678-2.942zm9.457 5.422L27.16 8.172h-1.652a.858.858 0 00-.798.577l-2.848 6.924h1.994l.398-1.096h2.45l.228 1.096h1.766zm-2.905-5.482l.57 2.827h-1.596l1.026-2.827z" fill="#fff" />
                  </svg>
                  <p class="sr-only">Visa</p>
                  {% elseif order.brandStripe == "mastercard" %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="2.11676in" height="1.5in" viewBox="0 0 152.407 108" class="h-6 w-auto">
                    <g>
                      <rect width="152.407" height="108" style="fill: none"/>
                      <g>
                        <rect x="60.4117" y="25.6968" width="31.5" height="56.6064" style="fill: #ff5f00"/>
                        <path d="M382.20839,306a35.9375,35.9375,0,0,1,13.7499-28.3032,36,36,0,1,0,0,56.6064A35.938,35.938,0,0,1,382.20839,306Z" transform="translate(-319.79649 -252)" style="fill: #eb001b"/>
                        <path d="M454.20349,306a35.99867,35.99867,0,0,1-58.2452,28.3032,36.00518,36.00518,0,0,0,0-56.6064A35.99867,35.99867,0,0,1,454.20349,306Z" transform="translate(-319.79649 -252)" style="fill: #f79e1b"/>
                        <path d="M450.76889,328.3077v-1.1589h.4673v-.2361h-1.1901v.2361h.4675v1.1589Zm2.3105,0v-1.3973h-.3648l-.41959.9611-.41971-.9611h-.365v1.3973h.2576v-1.054l.3935.9087h.2671l.39351-.911v1.0563Z" transform="translate(-319.79649 -252)" style="fill: #f79e1b"/>
                      </g>
                    </g>
                  </svg>
                  <p class="sr-only">Mastercard</p>
                  {% elseif order.brandStripe == "amex" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="2500" viewBox="0 0 192.756 192.756" class="h-10 w-auto"><g fill-rule="evenodd" clip-rule="evenodd"><path fill="#fff" d="M0 0h192.756v192.756H0V0z"/><path d="M8.484 177.699h-.551c0-.275-.138-.689-.138-.828 0-.137 0-.412-.414-.412h-.828v1.24h-.414v-2.896h1.242c.552 0 .965.139.965.689 0 .414-.138.553-.275.689.138.139.275.277.275.553v.551c0 .139 0 .139.138.139v.275zm-.551-2.068c0-.414-.276-.414-.414-.414h-.966v.828h.828c.276 0 .552-.139.552-.414zm2.345.551c0-1.654-1.379-3.035-3.173-3.035-1.655 0-3.035 1.381-3.035 3.035 0 1.793 1.38 3.174 3.035 3.174 1.793-.001 3.173-1.381 3.173-3.174zm-.414 0c0 1.518-1.241 2.621-2.759 2.621s-2.621-1.104-2.621-2.621c0-1.379 1.104-2.621 2.621-2.621s2.759 1.242 2.759 2.621zM179.818 120.451c0 4.139-2.621 6.068-7.312 6.068h-8.965v-4.139h8.965c.828 0 1.518-.137 1.795-.412.275-.277.551-.691.551-1.242 0-.553-.275-1.104-.551-1.379-.277-.277-.828-.414-1.656-.414-4.275-.139-9.656.137-9.656-5.932 0-2.76 1.793-5.795 6.621-5.795h9.242v4.139h-8.553c-.826 0-1.379 0-1.793.275-.414.414-.689.828-.689 1.518s.414 1.104.965 1.381c.553.137 1.105.275 1.795.275h2.482c2.621 0 4.277.551 5.381 1.518.826.965 1.378 2.208 1.378 4.139zm-19.451-4.139c-1.104-.967-2.76-1.518-5.381-1.518h-2.482c-.689 0-1.242-.139-1.793-.275-.553-.277-.965-.691-.965-1.381s.137-1.104.689-1.518c.414-.275.965-.275 1.793-.275h8.553v-4.139h-9.242c-4.967 0-6.623 3.035-6.623 5.795 0 6.068 5.381 5.793 9.658 5.932.826 0 1.379.137 1.654.414.275.275.553.826.553 1.379 0 .551-.277.965-.553 1.242-.414.275-.965.412-1.793.412h-8.967v4.139h8.967c4.689 0 7.311-1.93 7.311-6.068 0-1.931-.551-3.174-1.379-4.139zm-17.658 6.208h-10.896v-3.863h10.621v-3.861h-10.621v-3.588h10.896v-4H127.26v19.312h15.449v-4zm-20.416-14.346c-1.518-.828-3.311-.967-5.656-.967h-10.621v19.312h4.689v-7.035h4.967c1.654 0 2.621.139 3.311.828.828.965.828 2.621.828 3.863v2.344h4.551v-3.725c0-1.793-.137-2.621-.689-3.586-.414-.553-1.24-1.242-2.344-1.656 1.24-.412 3.311-2.068 3.311-5.104-.001-2.206-.829-3.448-2.347-4.274zm-26.21-.967H81.322l-5.932 6.346-5.656-6.346H51.111v19.312h18.348l5.932-6.346 5.656 6.346h8.967v-6.482h5.794c4 0 8.002-1.104 8.002-6.484-.001-5.242-4.14-6.346-7.727-6.346zm22.485 8.002c-.689.275-1.379.275-2.207.275l-5.656.139v-4.416h5.656c.828 0 1.656 0 2.207.414.553.277.965.828.965 1.656s-.412 1.518-.965 1.932zm-22.485.965h-6.07v-4.967h6.07c1.656 0 2.759.691 2.759 2.346 0 1.656-1.104 2.621-2.759 2.621zm-17.796.689l7.173-7.586v15.588l-7.173-8.002zm-11.174 5.657h-11.45v-3.863h10.208v-3.861H55.663v-3.588h11.588l5.104 5.656-5.242 5.656zm99.875-29.246h-6.621l-8.691-14.485v14.485h-9.379l-1.795-4.277h-9.656l-1.793 4.277h-5.381c-2.207 0-5.104-.552-6.758-2.208-1.518-1.655-2.346-3.862-2.346-7.311 0-2.897.414-5.518 2.482-7.587 1.379-1.518 3.863-2.207 7.035-2.207h4.414V78.1h-4.414c-1.654 0-2.621.276-3.586 1.104-.828.828-1.242 2.345-1.242 4.414s.414 3.587 1.242 4.553c.689.689 1.932.965 3.172.965h2.07l6.621-15.174h6.898l7.725 18.209v-18.21h7.174l8.139 13.381V73.961h4.689v19.313h.001zm-54.765-19.313h-4.689v19.313h4.689V73.961zm-9.795.828c-1.518-.828-3.172-.828-5.517-.828H86.288v19.313h4.552v-7.036h4.966c1.656 0 2.76.138 3.449.828.828.966.689 2.622.689 3.725v2.483h4.689v-3.863c0-1.655-.137-2.483-.826-3.449-.414-.552-1.242-1.242-2.207-1.655 1.24-.552 3.311-2.069 3.311-5.104.001-2.207-.966-3.449-2.483-4.414zM82.977 89.274h-10.76v-3.863h10.622v-4H72.217v-3.449h10.76v-4h-15.45v19.313h15.45v-4.001zM64.078 73.961h-7.587l-5.656 13.105-6.07-13.105h-7.449V92.17l-7.863-18.209h-6.897l-8.277 19.313h4.966l1.793-4.277h9.656l1.793 4.277h9.381V78.1l6.759 15.174h4l6.76-15.174v15.174h4.69V73.961h.001zm74.77 10.898l-3.174-7.587-3.172 7.587h6.346zm-40.006-3.034c-.689.414-1.379.414-2.345.414H90.84v-4.276h5.656c.828 0 1.792 0 2.345.276.551.414.828.966.828 1.793s-.276 1.516-.827 1.793zm-76.149 3.034l3.173-7.587 3.173 7.587h-6.346zm156.022-71.458H14.14v69.527l5.656-12.829h12.001l1.656 3.173v-3.173h14.071l3.173 6.897 3.035-6.897h44.834c2.068 0 3.861.414 5.242 1.517v-1.517h12.277v1.517c2.068-1.104 4.689-1.517 7.725-1.517h17.795l1.656 3.173v-3.173h13.105l1.932 3.173v-3.173h12.828v27.038H158.16l-2.482-4.138v4.138h-16.141l-1.793-4.414h-4.002l-1.793 4.414h-8.414c-3.311 0-5.795-.828-7.449-1.655v1.655H96.083v-6.208c0-.828-.138-.966-.69-.966h-.689v7.173H56.077v-3.449l-1.379 3.449h-8.139l-1.379-3.311v3.311H29.591l-1.655-4.414h-4.001l-1.793 4.414H14.14v81.529h164.575V129.14c-1.793.828-4.277 1.242-6.76 1.242h-12.002v-1.656c-1.379 1.105-3.863 1.656-6.207 1.656h-37.799v-6.207c0-.828-.137-.828-.828-.828h-.689v7.035h-12.416v-7.311c-2.068.965-4.414.965-6.483.965h-1.38v6.346H78.977l-3.586-4.139-4 4.139H46.972v-27.037h24.831l3.587 4.137 3.863-4.137h16.692c1.93 0 5.104.275 6.483 1.654v-1.654h14.898c1.518 0 4.416.275 6.346 1.654v-1.654h22.486V105c1.242-1.104 3.588-1.654 5.656-1.654h12.553V105c1.381-.965 3.311-1.654 5.795-1.654h8.553V13.401z" fill="#0077a6"/></g></svg>
                  {% else %}
                    <svg enable-background="new 0 0 780 500" height="500" viewBox="0 0 780 500" width="780" xmlns="http://www.w3.org/2000/svg" class="h-6 w-auto"><g transform="translate(15 -254)"><path d="m38.488 269h673.526c21.255 0 38.486 16.798 38.486 37.52v393.959c0 20.723-17.231 37.521-38.486 37.521h-673.526c-21.257 0-38.488-16.798-38.488-37.521v-393.959c0-20.722 17.231-37.52 38.488-37.52z" fill="none" stroke="#393939" stroke-width="30"/><path d="m66.423 413.05h67.042c10.799 0 19.554 8.535 19.554 19.063v55.373c0 10.528-8.755 19.062-19.554 19.062h-67.042c-10.8 0-19.555-8.534-19.555-19.062v-55.373c0-10.528 8.755-19.063 19.555-19.063z" fill-opacity=".196"/><g fill-opacity=".784"><path d="m70.225 546h-4.039l-.387 10.571h-11.01l10.18-23.516-3.817-1.618-11.232 25.458v3.236h15.823v9.062h4.481v-9.062h4.924v-3.56h-4.924v-10.571zm23.768-14.562c-3.872 0-7.58 1.294-10.789 4.314l2.49 2.751c2.545-2.319 4.813-3.451 8.078-3.451 4.038 0 7.248 2.211 7.248 6.31 0 4.478-3.597 6.527-7.248 6.527h-2.269l-.553 3.56h3.208c4.482 0 7.912 1.726 7.912 7.064 0 4.639-3.153 7.605-8.52 7.605-3.098 0-6.308-1.241-8.465-3.722l-3.099 2.48c2.877 3.452 7.414 4.909 11.674 4.909 7.856 0 13.222-4.854 13.222-11.273 0-5.771-4.205-8.79-8.686-9.114 4.038-.755 7.468-4.153 7.468-8.63.003-5.07-4.534-9.33-11.671-9.33zm33.174 0c-5.145 0-8.575 1.78-11.618 5.34l3.208 2.373c2.435-2.751 4.482-3.938 8.245-3.938 4.259 0 6.804 2.589 6.804 6.742 0 6.095-3.098 10.14-17.483 23.569v3.668h22.628l.554-3.829h-17.925c12.558-11.165 17.04-16.72 17.04-23.516-.001-5.933-4.261-10.409-11.453-10.409zm34.888.646-11.287 6.796 1.992 3.183 8.741-5.124v28.586h-9.405v3.667h21.963v-3.667h-7.966v-33.44h-4.038zm74.038 13.916h-4.04l-.386 10.571h-11.01l10.179-23.516-3.817-1.618-11.231 25.457v3.236h15.822v9.062h4.483v-9.062h4.923v-3.56h-4.923zm23.767-14.562c-3.873 0-7.579 1.294-10.788 4.314l2.489 2.751c2.545-2.319 4.814-3.451 8.078-3.451 4.04 0 7.249 2.211 7.249 6.31 0 4.478-3.597 6.527-7.249 6.527h-2.268l-.552 3.56h3.208c4.481 0 7.911 1.726 7.911 7.064 0 4.639-3.153 7.605-8.52 7.605-3.098 0-6.307-1.241-8.464-3.722l-3.098 2.48c2.876 3.452 7.413 4.909 11.673 4.909 7.856 0 13.223-4.854 13.223-11.273 0-5.771-4.205-8.79-8.687-9.114 4.039-.755 7.469-4.153 7.469-8.63.001-5.07-4.536-9.33-11.674-9.33zm33.174 0c-5.145 0-8.576 1.78-11.618 5.34l3.208 2.373c2.435-2.751 4.481-3.938 8.243-3.938 4.261 0 6.806 2.589 6.806 6.742 0 6.095-3.098 10.14-17.483 23.569v3.668h22.627l.554-3.829h-17.925c12.559-11.165 17.04-16.72 17.04-23.516.001-5.933-4.258-10.409-11.452-10.409zm34.889.646-11.286 6.796 1.992 3.183 8.741-5.124v28.586h-9.406v3.667h21.964v-3.667h-7.967v-33.44h-4.038zm74.037 13.916h-4.038l-.388 10.571h-11.01l10.181-23.516-3.818-1.618-11.23 25.457v3.236h15.824v9.062h4.479v-9.062h4.925v-3.56h-4.925zm23.769-14.562c-3.872 0-7.58 1.294-10.788 4.314l2.489 2.751c2.546-2.319 4.813-3.451 8.079-3.451 4.036 0 7.245 2.211 7.245 6.31 0 4.478-3.595 6.527-7.245 6.527h-2.27l-.555 3.56h3.21c4.482 0 7.912 1.726 7.912 7.064 0 4.639-3.154 7.605-8.521 7.605-3.098 0-6.307-1.241-8.466-3.722l-3.098 2.48c2.877 3.452 7.413 4.909 11.675 4.909 7.855 0 13.222-4.854 13.222-11.273 0-5.771-4.205-8.79-8.686-9.114 4.039-.755 7.469-4.153 7.469-8.63.001-5.07-4.536-9.33-11.672-9.33zm33.173 0c-5.146 0-8.575 1.78-11.619 5.34l3.209 2.373c2.436-2.751 4.482-3.938 8.244-3.938 4.26 0 6.804 2.589 6.804 6.742 0 6.095-3.098 10.14-17.482 23.569v3.668h22.629l.553-3.829h-17.925c12.558-11.165 17.04-16.72 17.04-23.516-.001-5.933-4.26-10.409-11.453-10.409zm34.889.646-11.287 6.796 1.992 3.183 8.741-5.124v28.586h-9.405v3.667h21.964v-3.667h-7.965v-33.44h-4.04zm74.037 13.916h-4.038l-.388 10.571h-11.01l10.181-23.516-3.818-1.618-11.23 25.457v3.236h15.823v9.062h4.48v-9.062h4.925v-3.56h-4.925zm23.767-14.562c-3.87 0-7.577 1.294-10.787 4.314l2.49 2.751c2.545-2.319 4.813-3.451 8.078-3.451 4.039 0 7.248 2.211 7.248 6.31 0 4.478-3.597 6.527-7.248 6.527h-2.27l-.552 3.56h3.208c4.481 0 7.911 1.726 7.911 7.064 0 4.639-3.153 7.605-8.52 7.605-3.098 0-6.308-1.241-8.465-3.722l-3.098 2.48c2.877 3.452 7.412 4.909 11.673 4.909 7.857 0 13.223-4.854 13.223-11.273 0-5.771-4.204-8.79-8.686-9.114 4.039-.755 7.469-4.153 7.469-8.63 0-5.07-4.537-9.331-11.673-9.331h-.001zm33.175 0c-5.145 0-8.574 1.78-11.618 5.34l3.209 2.373c2.435-2.751 4.481-3.938 8.244-3.938 4.26 0 6.806 2.589 6.806 6.742 0 6.095-3.1 10.14-17.484 23.569v3.668h22.63l.553-3.829h-17.926c12.559-11.165 17.04-16.72 17.04-23.516-.001-5.933-4.262-10.409-11.454-10.409zm34.889.646-11.286 6.796 1.99 3.183 8.742-5.124v28.586h-9.405v3.667h21.966v-3.667h-7.968v-33.44h-4.039z"/><path d="m52.958 639.12v-3.372l6.709-1.318h3.795v24.238h6.202v3.114h-16.16v-3.114h6.201v-20.867zm24.506 0v-3.372l6.709-1.318h3.796v24.238h6.201v3.114h-16.161v-3.114h6.202v-20.867zm39.915 19.547h13.25v3.115h-17.816v-3.114c1.949-1.958 3.91-3.907 5.883-5.844 2.492-2.456 4.059-4.037 4.697-4.747 1.215-1.33 2.061-2.454 2.538-3.37.489-.929.733-1.838.733-2.729 0-1.453-.526-2.638-1.578-3.555-1.041-.915-2.399-1.373-4.079-1.373-1.19 0-2.449.202-3.777.605-1.315.402-2.725 1.012-4.228 1.831v-3.738c1.527-.599 2.957-1.05 4.284-1.354 1.328-.307 2.543-.458 3.646-.458 2.906 0 5.225.707 6.953 2.125 1.729 1.415 2.594 3.31 2.594 5.68.005 1.101-.219 2.191-.658 3.206-.426 1.002-1.208 2.186-2.349 3.554-.314.354-1.31 1.38-2.988 3.077-2.363 2.368-4.732 4.731-7.105 7.089zm32.737-11.632c1.817.378 3.233 1.165 4.248 2.363 1.027 1.196 1.541 2.673 1.541 4.433 0 2.698-.953 4.788-2.856 6.267-1.905 1.476-4.61 2.215-8.119 2.215-1.178 0-2.393-.115-3.646-.348-1.308-.237-2.597-.574-3.852-1.007v-3.572c1.081.609 2.245 1.065 3.458 1.354 1.285.31 2.604.464 3.927.458 2.381 0 4.191-.458 5.432-1.374 1.252-.916 1.879-2.246 1.879-3.993 0-1.613-.583-2.87-1.748-3.773-1.153-.916-2.761-1.374-4.83-1.374h-3.27v-3.042h3.42c1.867 0 3.295-.36 4.286-1.08.99-.732 1.484-1.784 1.484-3.153 0-1.402-.514-2.479-1.541-3.223-1.014-.756-2.474-1.136-4.378-1.136-1.04 0-2.155.11-3.345.329-1.19.221-2.499.562-3.928 1.026v-3.298c1.329-.366 2.678-.661 4.042-.879 1.18-.188 2.374-.286 3.569-.293 2.882 0 5.162.642 6.841 1.923 1.678 1.271 2.518 2.991 2.518 5.167 0 1.515-.444 2.797-1.335 3.847-.89 1.039-2.156 1.759-3.797 2.163zm25.295-12.605h14.902v3.114h-11.425v6.705c.539-.181 1.092-.314 1.654-.402.546-.097 1.1-.146 1.654-.146 3.132 0 5.612.837 7.442 2.51 1.829 1.673 2.744 3.939 2.744 6.797 0 2.944-.94 5.234-2.819 6.87-1.879 1.624-4.529 2.436-7.95 2.436-1.178 0-2.38-.098-3.608-.292-1.277-.209-2.539-.504-3.776-.879v-3.72c1.102.59 2.275 1.039 3.494 1.338 1.204.293 2.476.438 3.815.438 2.168 0 3.885-.556 5.15-1.667 1.265-1.11 1.897-2.619 1.897-4.524s-.632-3.414-1.897-4.525c-1.266-1.111-2.983-1.667-5.15-1.667-1.015 0-2.03.109-3.043.33-1.06.238-2.093.582-3.082 1.025zm32.586 14.363c-1.804 0-3.226.469-4.266 1.409-1.027.941-1.54 2.237-1.54 3.886s.513 2.943 1.54 3.883c1.04.94 2.463 1.411 4.266 1.411 1.805 0 3.227-.471 4.267-1.41 1.039-.952 1.559-2.248 1.559-3.884 0-1.648-.52-2.944-1.559-3.886-1.028-.939-2.451-1.409-4.267-1.409zm-3.795-1.575c-1.628-.392-2.901-1.131-3.815-2.218-.903-1.086-1.354-2.411-1.354-3.975 0-2.186.795-3.914 2.387-5.186 1.604-1.27 3.795-1.904 6.577-1.904 2.795 0 4.986.635 6.578 1.904 1.592 1.271 2.386 3 2.386 5.186 0 1.563-.456 2.889-1.371 3.977-.902 1.085-2.161 1.824-3.777 2.216 1.829.416 3.251 1.228 4.266 2.435 1.027 1.21 1.541 2.688 1.541 4.436 0 2.65-.833 4.685-2.499 6.101-1.654 1.416-4.028 2.124-7.123 2.124-3.094 0-5.474-.708-7.14-2.124-1.655-1.416-2.481-3.45-2.481-6.101 0-1.747.513-3.226 1.541-4.436 1.025-1.208 2.454-2.019 4.284-2.435zm-1.391-5.843c0 1.415.452 2.52 1.353 3.314.915.795 2.192 1.192 3.833 1.192 1.63 0 2.901-.397 3.816-1.192.926-.795 1.39-1.899 1.39-3.315 0-1.418-.464-2.522-1.39-3.316-.914-.795-2.186-1.191-3.816-1.191-1.641 0-2.918.396-3.833 1.191-.903.794-1.353 1.898-1.353 3.317z"/><path d="m296.61 638.21v-3.371l6.709-1.32h3.796v24.238h6.201v3.114h-16.162v-3.114h6.201v-20.867zm35.894 7.912c1.816.38 3.232 1.168 4.248 2.365 1.027 1.196 1.54 2.675 1.54 4.433 0 2.699-.952 4.788-2.856 6.267-1.904 1.478-4.609 2.217-8.118 2.217-1.177 0-2.392-.116-3.647-.349-1.308-.237-2.596-.574-3.852-1.008v-3.573c1.083.61 2.246 1.066 3.459 1.356 1.285.311 2.604.464 3.928.459 2.38 0 4.19-.459 5.431-1.375 1.252-.916 1.879-2.247 1.879-3.994 0-1.611-.583-2.869-1.748-3.773-1.152-.916-2.763-1.374-4.83-1.374h-3.27v-3.041h3.42c1.867 0 3.295-.361 4.286-1.081.988-.732 1.484-1.783 1.484-3.152 0-1.404-.515-2.478-1.542-3.224-1.015-.756-2.475-1.134-4.378-1.134-1.04 0-2.155.108-3.346.327-1.19.221-2.5.564-3.926 1.027v-3.298c1.328-.366 2.677-.66 4.039-.88 1.18-.188 2.375-.286 3.57-.293 2.883 0 5.164.642 6.841 1.923 1.679 1.271 2.518 2.993 2.518 5.167 0 1.515-.444 2.797-1.333 3.847-.89 1.039-2.156 1.76-3.797 2.163zm16.275 11.635h13.25v3.114h-17.816v-3.114c1.95-1.96 3.91-3.906 5.882-5.845 2.493-2.455 4.059-4.036 4.698-4.745 1.216-1.331 2.06-2.453 2.536-3.369.489-.93.733-1.839.733-2.73 0-1.454-.525-2.639-1.577-3.555-1.04-.916-2.4-1.374-4.079-1.374-1.191 0-2.45.201-3.778.605-1.315.404-2.725 1.013-4.229 1.832v-3.737c1.529-.599 2.957-1.051 4.285-1.356s2.544-.458 3.646-.458c2.906 0 5.225.708 6.954 2.125 1.728 1.418 2.593 3.31 2.593 5.68.005 1.102-.219 2.191-.657 3.206-.426 1.002-1.208 2.186-2.349 3.556-.313.354-1.308 1.378-2.989 3.077-2.362 2.367-4.729 4.73-7.103 7.091zm21.348-19.547v-3.371l6.709-1.32h3.795v24.238h6.202v3.114h-16.162v-3.114h6.203v-20.867zm48.146 7.912c1.816.38 3.233 1.168 4.247 2.365 1.028 1.196 1.543 2.675 1.543 4.433 0 2.699-.953 4.788-2.858 6.267-1.904 1.478-4.61 2.217-8.118 2.217-1.178 0-2.393-.116-3.646-.349-1.309-.237-2.598-.574-3.853-1.008v-3.573c1.08.61 2.244 1.066 3.458 1.356 1.285.311 2.604.464 3.928.459 2.379 0 4.19-.459 5.431-1.375 1.254-.916 1.88-2.247 1.88-3.994 0-1.611-.583-2.869-1.747-3.773-1.153-.916-2.764-1.374-4.831-1.374h-3.269v-3.041h3.419c1.867 0 3.295-.361 4.284-1.081.99-.732 1.485-1.783 1.485-3.152 0-1.404-.515-2.478-1.541-3.224-1.015-.756-2.474-1.134-4.379-1.134-1.039 0-2.155.108-3.345.327-1.191.221-2.5.564-3.929 1.027v-3.298c1.33-.366 2.679-.66 4.042-.88 1.181-.188 2.374-.286 3.569-.293 2.883 0 5.162.642 6.841 1.923 1.68 1.271 2.519 2.993 2.519 5.167 0 1.515-.444 2.797-1.334 3.847-.89 1.039-2.156 1.76-3.797 2.163v-.002zm23.435-9.379-9.583 14.602h9.583zm-.996-3.224h4.773v17.826h4.003v3.078h-4.003v6.448h-3.776v-6.448h-12.667v-3.572zm15.11 0h14.901v3.114h-11.426v6.707c.539-.181 1.092-.316 1.654-.404.546-.097 1.099-.146 1.653-.146 3.133 0 5.613.836 7.442 2.509 1.827 1.674 2.743 3.94 2.743 6.797 0 2.943-.938 5.234-2.818 6.87-1.88 1.624-4.528 2.438-7.949 2.438-1.178 0-2.381-.097-3.608-.293-1.278-.211-2.54-.505-3.778-.88v-3.72c1.103.59 2.277 1.04 3.496 1.338 1.202.293 2.474.44 3.815.44 2.167 0 3.883-.557 5.148-1.667 1.267-1.112 1.898-2.621 1.898-4.526s-.632-3.414-1.898-4.524c-1.266-1.111-2.981-1.667-5.148-1.667-1.016 0-2.03.109-3.044.329-1.062.24-2.094.583-3.082 1.025v-13.74zm24.504 0h14.904v3.114h-11.427v6.707c.537-.181 1.09-.316 1.652-.404.546-.097 1.1-.146 1.655-.146 3.131 0 5.61.836 7.44 2.509 1.829 1.674 2.743 3.94 2.743 6.797 0 2.943-.938 5.234-2.818 6.87-1.879 1.624-4.529 2.438-7.948 2.438-1.179 0-2.381-.097-3.608-.293-1.278-.211-2.54-.505-3.778-.88v-3.72c1.103.59 2.277 1.04 3.496 1.338 1.203.293 2.475.44 3.814.44 2.168 0 3.885-.557 5.148-1.667 1.267-1.112 1.899-2.621 1.899-4.526s-.633-3.414-1.899-4.524c-1.264-1.111-2.98-1.667-5.148-1.667-1.015 0-2.03.109-3.044.329-1.061.24-2.094.583-3.083 1.025z"/></g></g></svg>
                  {% endif %}
                </div>
                <div class="ml-4 mt-4">
                  <p class="text-gray-900">Ending with {{ order.last4Stripe }}</p>
                </div>
              </dd>
            </div>
          </dl>
  
          <dl class="mt-8 divide-y divide-gray-200 text-sm lg:col-span-5 lg:mt-0">
            <div class="flex items-center justify-between pb-4">
              <dt class="text-gray-600">Subtotal</dt>
              <dd class="font-medium text-gray-900">{{ (order.totalPaid / 1.2) |number_format}} €</dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Shipping</dt>
              <dd class="font-medium text-gray-900">FREE</dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Tax</dt>
              <dd class="font-medium text-gray-900">{{ (order.totalPaid - (order.totalPaid / 1.2))}} €</dd>
            </div>
            <div class="flex items-center justify-between pt-4">
              <dt class="font-medium text-gray-900">Order total</dt>
              <dd class="font-medium text-indigo-600">{{order.totalPaid}} €</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
