<div class="mx-24">
{{ form_start(form, {'attr': {'class': 'flex justify-center gap-24'}}) }}
    <div>
        <div class="flex flex-col my-4 w-64">
            {{ form_errors(form.imageFile) }}
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
            {{ form_help(form.imageFile) }}
        </div>
    </div>
    <div>
        <div class="flex flex-col my-4">
            {{ form_errors(form.title) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_help(form.title) }}
        </div>
        <div class="flex flex-col my-4">
            {{ form_errors(form.description) }}
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_help(form.description) }}
        </div>
        <div class="flex flex-col my-4">
            {{ form_errors(form.price) }}
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            {{ form_help(form.price) }}
        </div>
        <div class="flex gap-5">
            <button class="mt-6 px-4 py-2 w-64 rounded-md text-center bg-emerald-600 text-white hover:bg-emerald-700">{{ button_label|default('Save') }}</button>
            <a class="mt-6 px-4 py-2 w-64 rounded-md text-center bg-slate-400 text-white hover:bg-slate-600" href="{{ path('front_app_seller') }}">Back to List</a>
        </div>
    </div>
    {{ form_end(form) }}
    {{ include('front/product/_delete_form.html.twig') }}
</div>

