{% extends 'front_base.html.twig' %}

{% block body %}
<main class="mx-auto max-w-2xl py-8 px-4 sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 py-4">{{ product.title }}</h1>

    <div class="lg:grid lg:grid-cols-3 lg:items-start lg:gap-x-8 gap-2">

        <div class="flex flex-col-reverse col-span-2">
            <div class="aspect-w-1 aspect-h-1 w-full">
                <div class="rounded-lg overflow-hidden">
                    <img src={{ vich_uploader_asset(product, 'imageFile') }} alt={{ product.title }}
                        class="h-full w-full object-cover object-top">
                </div>
            </div>
        </div>

        <!-- Product info -->
        <div class="mt-10 px-6 py-6 sm:mt-16 lg:mt-0 border-2 rounded-lg pb-0">
            <div class="flex">
                <h2 class="inline-flex grow text-3xl tracking-tight text-gray-900">{{ 'price'|trans }}</h2>
                <p class="inline-flex text-3xl tracking-tight text-gray-900">${{ product.price }}</p>
            </div>

            <div class="mt-6">
                <div class="flex mb-4">
                    <h3 class="inline-flex grow text-xl tracking-tight text-gray-900">License</h3>
                    <p class="inline-flex text-l tracking-tight text-gray-900"></p>
                </div>
                <div class="flex items-center mb-2">
                    <input checked id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4">
                    <label for="default-radio-1" class="ml-2 text-sm font-medium text-emerald-900 dark:text-gray-700 hover:text-emerald-700">Personnal License</label>
                    <p class="ml-2 flex justify-end grow text-sm font-medium text-gray-900 dark:text-gray-700">$199</p>
                </div>
                <div class="flex items-center mb-2">
                    <input checked id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4">
                    <label for="default-radio-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-700">Commercial License</label>
                    <p class="ml-2 flex justify-end grow text-sm font-medium text-gray-900 dark:text-gray-700">$199</p>
                </div>
                <div class="flex items-center mb-2">
                    <input id="default-radio-3" type="radio" value="" name="default-radio" class="w-4 h-4">
                    <label for="default-radio-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-700">Extended Commercial</label>
                    <p class="ml-2 flex justify-end grow text-sm font-medium text-gray-900 dark:text-gray-700">$199</p>
                </div>
            </div>

            <form class="mt-6">
                <div class="sm:flex-col1 mt-10 flex">
                    <a class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-emerald-600 py-3 px-8 text-base font-medium text-white hover:bg-emerald-700 focus:outline-none  focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full" href="{{ path('front_app_cart_new', {'id': product.id}) }}">{{ 'add_to_cart'|trans }}</a>

                    <button type="button"
                        class="ml-4 flex items-center justify-center rounded-md py-3 px-3 text-gray-400 hover:bg-gray-100 hover:text-gray-500">
                        <picture>
                            <source srcset="/img/Heart.svg" media="(min-width: 768px)">
                            <img class="h-6 w-6 flex-shrink-0" x-state:on="Open" x-state:off="Closed"
                                :class="{ 'hidden': open, 'block': !(open) }" x-description="Heart icon"
                                src="/img/Heart.svg" alt="Heart icon">
                        </picture>
                        <span class="sr-only">Add to favorites</span>
                    </button>
                </div>
            </form>

            <section aria-labelledby="details-heading" class="mt-12">
                <h2 id="details-heading" class="sr-only">Additional details</h2>

                <div class="divide-y divide-gray-200 border-t">

                    <div x-data="{ open: true }">
                        <h3>
                            <button type="button" x-description="Expand/collapse question button"
                                class="group relative flex w-full items-center justify-between py-6 text-left"
                                aria-controls="disclosure-1" @click="open = !open" aria-expanded="true"
                                x-bind:aria-expanded="open.toString()">
                                <span class="text-sm font-medium text-emerald-600" x-state:on="Open"
                                    x-state:off="Closed"
                                    :class="{ 'text-emerald-600': open, 'text-gray-500': !(open) }">Product specs</span>
                                <span class="ml-6 flex items-center">
                                    <picture>
                                        <source srcset="/img/Plus.svg" media="(min-width: 768px)">
                                        <img class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                                            x-state:on="Open" x-state:off="Closed"
                                            :class="{ 'hidden': open, 'block': !(open) }"
                                            x-description="Heroicon name: outline/plus" src="/img/Plus.svg"
                                            alt="Search">
                                    </picture>
                                    <picture>
                                        <source srcset="/img/Minus.svg" media="(min-width: 768px)">
                                        <img class="hidden h-6 w-6 text-emerald-400 group-hover:text-emerald-500"
                                            x-state:on="Open" x-state:off="Closed"
                                            :class="{ 'block': open, 'hidden': !(open) }"
                                            x-description="Heroicon name: outline/minus" src="/img/Minus.svg"
                                            alt="Search">
                                    </picture>
                                </span>
                            </button>
                        </h3>
                        <div class="prose prose-sm pb-6" id="disclosure-1" x-show="open">
                            <div class="flex">
                                <picture class="inline-flex">
                                    <source srcset="/img/Star-full.svg" media="(min-width: 768px)">
                                    <img class="h-6 w-6 flex-shrink-0"
                                        src="/img/Star-full.svg" alt="Check icon">
                                </picture>
                                <p class="inline-flex ml-2">Created: {{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                            </div>
                            <div class="flex mt-2">
                                <picture class="inline-flex">
                                    <source srcset="/img/Star-full.svg" media="(min-width: 768px)">
                                    <img class="h-6 w-6 flex-shrink-0"
                                        src="/img/Star-full.svg" alt="Check icon">
                                </picture>
                                <p class="inline-flex ml-2">Updated: {{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                            </div>
                            <div class="flex mt-2">
                                <picture class="inline-flex">
                                    <source srcset="/img/Star-full.svg" media="(min-width: 768px)">
                                    <img class="h-6 w-6 flex-shrink-0"
                                        src="/img/Star-full.svg" alt="Check icon">
                                </picture>
                                <p class="inline-flex ml-2">Compatible with: Blender</p>
                            </div>
                        </div>
                    </div>

                    <div x-data="{ open: false }">
                        <h3>
                            <button type="button" x-description="Expand/collapse question button"
                                class="group relative flex w-full items-center justify-between py-6 text-left"
                                aria-controls="disclosure-1" @click="open = !open" aria-expanded="false"
                                x-bind:aria-expanded="open.toString()">
                                <span class="text-gray-900 text-sm font-medium" x-state:on="Open"
                                    x-state:off="Closed"
                                    :class="{ 'text-emerald-600': open, 'text-gray-500': !(open) }">7-day money-back guarantee</span>
                                <span class="ml-6 flex items-center">
                                    <picture>
                                        <source srcset="/img/Plus.svg" media="(min-width: 768px)">
                                        <img class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                                            x-state:on="Open" x-state:off="Closed"
                                            :class="{ 'hidden': open, 'block': !(open) }"
                                            x-description="Heroicon name: outline/plus" src="/img/Plus.svg"
                                            alt="Search">
                                    </picture>
                                    <picture>
                                        <source srcset="/img/Minus.svg" media="(min-width: 768px)">
                                        <img class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
                                            x-state:on="Open" x-state:off="Closed"
                                            :class="{ 'block': open, 'hidden': !(open) }"
                                            x-description="Heroicon name: outline/minus" src="/img/Minus.svg"
                                            alt="Search">
                                    </picture>
                                </span>
                            </button>
                        </h3>
                        <div class="prose prose-sm pb-6" id="disclosure-1" x-show="open" style="display: none;">
                            <p>
                                If you don't like the digital asset you purchased, you can request a refund within 7 days of your purchase.
                            </p>
                            <p class="mt-2">
                                You can also request a refund if the digital asset you purchased is not as described in the listing.
                            </p>
                            <p class="mt-2">
                                If you have any questions, please contact the seller directly. You can find the seller's contact information in the listing.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="flex flex-col-reverse col-span-2 mt-2">

            <!-- Product info -->
            <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ product.title }}</h1>

                <div class="mt-3">
                    <h2 class="sr-only">Product information</h2>
                    <p class="text-3xl tracking-tight text-gray-900">${{ product.price }}</p>
                </div>

                <!-- Reviews -->
                <div class="mt-3">
                    <h3 class="sr-only">Reviews</h3>
                </div>

                <div class="mt-6">
                    <h3 class="sr-only">About the product</h3>
                    <h4>Overview</h4>

                    <div class="space-y-6 text-base text-gray-700">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ include('front/product/_delete_form.html.twig') }}

{# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.price }}"></td>
            </tr>
        </tbody>
    </table> #}


{% endblock %}